@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$gap: 10px;

// colors
$board-bg-color: #0079bf;
$list-bg-color: #ebecf0;
$common-element-bg: rgba(247, 231, 231, 0.24);
$column-header-height: 36px;