@import '_setting.scss';



body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

.trello-tuantudev-master {
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 50px 1fr;
  line-height: 1.3em;
  background-color: #0079bf;
}

  